<div id="<%= dom_id(gossip) %>" class="form-card">
  <h2>Gossip Details</h2>
  <br>
  <p>
    <strong>Title:</strong>
    <%= gossip.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= gossip.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= gossip.user.first_name %>
    <%= gossip.user.last_name %>
  </p>
</div>

