<main>
  <% if user_signed_in? %>
    <div>
      <p>Bienvenue <%= current_user.first_name %> ! Vous êtes maintenant connecté.</p>
    </div>
  <% end %>

  <h1 class="text-center">Bienvenue sur XOXO <span class="color-h1">Gossip Project</span></h1>
  <p class="text-center">Parcours le mur des gossips pour voir les dernières nouveautés</p>

  <% if user_signed_in? %>
    <%= link_to "New Gossip", new_gossip_path(user_id: current_user.try(:id)) %>
  <% end %>

  <% @gossips.each do |gossip| %>
    <div class="gossip-card">
      <article>
        <div>
          <h2><%= gossip.title %></h2>
          <p><em><%= gossip.content %></em></p>
          <p>Par <%= gossip.user.first_name %></p>
          <a href="<%= gossip_path(gossip) %>">Voir le potin</a>
        </div>
      </article>
    </div>
  <% end %>
</main>
