<p style="color: green"><%= notice %></p>

<%= render @gossip %>

<div>
  <%= button_to "Edit this gossip", edit_gossip_path(@gossip), method: :get, class: "actions" %>
  <%= button_to "Back to gossips", gossips_path, method: :get, class: "actions" %>
  <%= button_to "Destroy this gossip", @gossip, method: :delete, class: "actions" %>
</div>
